{% load static %}



<div class="content-objects">
    <img src="{% static 'img/dicas.png' %}" alt="Painel de dicas">
    <div class="content-dicas">
        <p>Primeira vez aqui? Complete seus dados <a href="{% url 'conta_edit_profile_candidate' %}">aqui.</a></p>
        <p>Essa é a area onde você pode Gerenciar suas informações.</p>
        <p>Lembre-se quanto mais completo for o preenchimento dos seus dados mais chances você tem de encontrar a sua vaga IDEAL.</p>
        <p>Mantenha sempre seus dados atualizados para que facilite a comunicação quando for chamado pra entrevista.</p>
    </div>

</div>