{% load static %}



<div class="content-objects-company">
    <img src="{% static 'img/dicas.png' %}" alt="Painel de dicas">
    <div class="content-dicas">
        <p>Primeira vez aqui? Complete seus dados <a href="{% url 'conta_edit_profile_company' %}">aqui.</a></p>
        <p>Essa é a area onde você pode Gerenciar suas informações.</p>
        <p>Lembre-se de preencher de forma clara e objetivas suas vagas, assim com também preencher todos os campos.</p>
        <p>Mantenha sempre seus dados atualizados para que facilite a comunicação com possíveis candidatos.</p>
    </div>

</div>